{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block page_title %} BeginnersCTF | パスワード変更{% endblock %}

{% load i18n %}

{% block content %}

<div class="container my-5">
  <!-- タイトル -->
  <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">change_password</h6>
  <h3 class="font-weight-bold text-center white-text pb-2">パスワード変更</h3>
  <hr class="w-header white my-4">

  {% bootstrap_messages %}

  <div class="row d-flex align-items-center justify-content-center">
    <div class="card col-11 col-sm-10 col-md-8 col-lg-4">
      <div class="card-body z-depth-2 px-4">


        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
          {% csrf_token %}

          {% bootstrap_form form %}

          {% buttons %}
          <button class="primaryAction btn btn-primary btn-block waves-effect waves-light" type="submit" name="action">
            パスワード変更
          </button>
          {% endbuttons %}
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}
