{% extends "base.html" %}
{% load static %}

{% block page_title %} BeginnersCTF | パスワード変更完了{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/account.css' %}"/>
{% endblock %}

{% load i18n %}

{% block content %}

<div class="container my-5">
  <!-- タイトル -->
  <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">password_reset_key_from_done</h6>
  <h3 class="font-weight-bold text-center white-text pb-2">パスワード変更完了</h3>
  <hr class="w-header white my-4">

  <h3 class="text-center white-text pb-2">パスワードが変更されました。</h3>
  <h3 class="text-center white-text pb-2"><a href="{% url 'account_login' %}">ログイン画面へ</a></h3>
</div>

{% endblock %}
