{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block page_title %} BeginnersCTF | メールアドレスを確認してください{% endblock %}

{% load i18n %}

{% block content %}

<div class="container my-5">
  <!-- タイトル -->
  <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">verification_sent</h6>
  <h3 class="font-weight-bold text-center white-text pb-2">確認メールを送信</h3>
  <hr class="w-header white my-4">

  {% bootstrap_messages %}

  <h3 class="text-center white-text pb-2">受信ボックスを確認してください。</h3>

</div>
{% endblock %}
