.table th,
.table td {
    padding: 16px 0;
}

.table td input[type="email"],
.table td input[type="password"] {
	width: 100%;
    padding: 0 16px;
    border-radius: 4px;
    border: none;
    box-shadow: 0 0 0 1px #ccc inset;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.table td input[type="email"]:focus,
.table td input[type="password"]:focus {
    outline: 0;
    box-shadow: 0 0 0 2px rgb(33, 150, 243) inset;
}
